<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--configFragment 선언-->
<th:block th:fragment="configFragment">

    <!--[시작] 공통 css-->
    <link rel="stylesheet" th:href="@{/common.css}" >
    <!--[종료] 공통 css-->

    <!--[시작] bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--[종료] bootstrap cdn -->

    <!--[시작] jQuery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--[종료] jQuery cdn -->

    <!--[시작] bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--[종료] bootstrap js -->

    <!--[시작] 공통 js -->
    <script th:src="@{/commonObject.js}"></script>
    <!--[종료] 공통 js -->

    <!--[시작] 개별 페이지의 css -->
    <th:block layout:fragment="css"></th:block>
    <!--[종료] 개별 페이지의 css -->

    <!--[시작] 개별 페이지의 js -->
    <th:block layout:fragment="script"></th:block>
    <!--[시작] 개별 페이지의 js -->

</th:block>
</html>