
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>주택 대출 가능 금액 알아보기</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="common.js"></script>
<script>

    var data = {
        "DB_LTV_MIN" : 0
        , "DB_LTV_MAX" : 0
        , "DB_LTV_CRITERIA" : 0
        , "DB_DTI" : 0
        , "DB_DSR" : 0
        , "DB_LOAN_LIMIT" : 0
        , "year_loan" : 0 /* 연상환금 */
        , "DTI_principal_and_interest" : 0 /* DTI용 원리금 */
        , "DSR_principal_and_interest" : 0 /* DSR용 원리금 */
    };

    $( document ).ready(function() {

        $("#calculator_href").attr("href", "calculator?e_uid="+getParameterByName("e_uid"));

        var params = {
            e_uid      : getParameterByName("e_uid")
        }

        // ajax 통신
        $.ajax({
            type : "POST",
            url : "/house/getPreEquation",
            data : params,
            success : function(res){
                data["DB_LTV_MIN"] = res["LTV_MIN"] * 0.01;
                data["DB_LTV_MAX"] = res["LTV_MAX"] * 0.01;
                data["DB_LTV_MIN"] = Math.floor(data["DB_LTV_MIN"] * 100) / 100;
                data["DB_LTV_MAX"] = Math.floor(data["DB_LTV_MAX"] * 100) / 100;

                data["DB_LTV_CRITERIA"] = res["LTV_CRITERIA"];
                data["DB_DTI"] = res["DTI"] * 0.01;

                if( res["DSR"] == '') {
                    data["DB_DSR"] = 1;
                    data["DB_DSR_STATIC"] = 1;
                } else {
                    data["DB_DSR"] = res["DSR"] * 0.01;
                    data["DB_DSR_STATIC"] = res["DSR"] * 0.01;
                }
                data["DB_LOAN_LIMIT"] = res["LOAN_LIMIT"];

                if( data["DB_LTV_MIN"] == ""){
                    $("#DB_LTV").text(data["DB_LTV_MAX"] * 100 +"%");
                } else {
                    $("#DB_LTV").text(data["DB_LTV_MAX"] * 100 + "/"+data["DB_LTV_MIN"] * 100 +"%");
                }

                $("#DB_DTI").text(data["DB_DTI"] * 100 +"%");
                if( res["DSR"] == '') {
                    $("#DB_DSR").text("-");
                } else {
                    $("#DB_DSR").text(data["DB_DSR"] * 100 + "%");
                }

                if(data["DB_LOAN_LIMIT"] == ''){
                    $("#DB_CRITERIA").text("-");
                } else {
                    $("#DB_CRITERIA").text(data["DB_LOAN_LIMIT"]);
                }

            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("통신 실패.")
            }
        });

        $("#calculate").click(function () {

            if($("#hope_loan").val() == ""){
                alert("희망대출 금액을 입력하세요");
                $("#hope_loan").focus();
                return;
            }

            if($("#expiration_year").val() == ""){
                alert("희망대출 만기(년)을 입력하세요");
                $("#expiration_year").focus();
                return;
            }

            if($("#home_loan_interest_rate").val() == ""){
                alert("[희망대출] 금리을 입력하세요");
                $("#hope_loan").focus();
                return;
            }

            if($("#home_price").val() == ""){
                alert("주택가격을 입력하세요");
                $("#home_price").focus();
                return;
            }

            if($("#salary").val() == ""){
                alert("연소득을 입력하세요");
                $("#salary").focus();
                return;
            }

            var hope_loan = $("#hope_loan").val();
            var expiration_year = $("#expiration_year").val();
            var home_loan_interest_rate = $("#home_loan_interest_rate").val() * 0.01;
            data["year_loan"] = hope_loan / expiration_year;
            data["DTI_principal_and_interest"] = data["year_loan"] + getAnnualAverageInterest(hope_loan,expiration_year,home_loan_interest_rate);
            data["DSR_principal_and_interest"] = data["year_loan"] + getAnnualAverageInterest(hope_loan,expiration_year,home_loan_interest_rate);

            var home_price = $("#home_price").val();

            //LTV
            if( data["DB_LTV_MIN"] == ""){
                data["CAL_LTV"] = home_price * data["DB_LTV_MAX"];
            } else {
                data["CAL_LTV"] = (data["DB_LTV_CRITERIA"] * data["DB_LTV_MAX"]) + ((home_price - data["DB_LTV_CRITERIA"]) * data["DB_LTV_MIN"]);
            }

            $("#CAL_LTV").text(data["CAL_LTV"]+"원");
            if( data["CAL_LTV"] >= hope_loan){
                $("#DIS_LTV").text("Y");
            } else {
                $("#DIS_LTV").text("N");
            }

            var salary = $("#salary").val();

            //DTI
            data["CAL_DTI"] = (data["DTI_principal_and_interest"] + ($("#credit_loan").val() *0.0378) ) / salary;
            $("#CAL_DTI").text(Math.floor(data["CAL_DTI"]*10000)/100+"%");
            if( data["CAL_DTI"] <= data["DB_DTI"]){
                $("#DIS_DTI").text("Y");
            } else {
                $("#DIS_DTI").text("N");
            }

            //DSR
            if(data["DB_DSR_STATIC"] == "1"){
                if( 100000000 < parseInt($("#credit_loan").val()) ){
                    data["DB_DSR"] = 0.4;
                    $("#DB_DSR").text(data["DB_DSR"]*100+"%");
                } else {
                    if( 200000000 < parseInt(hope_loan) + parseInt($("#credit_loan").val()) ){
                        data["DB_DSR"] = 0.4;
                        $("#DB_DSR").text(data["DB_DSR"]*100+"%");
                    } else {
                        data["DB_DSR"] = 1;
                        $("#DB_DSR").text("-");
                    }
                }
                data["CAL_DSR"] = (data["DSR_principal_and_interest"] + ($("#credit_loan").val()/5) + ($("#credit_loan").val() * $("#credit_loan_interest_rate").val()) * 0.01) / salary;
                //$("#DB_DSR").text(data["DB_DSR"]+"%");
                $("#CAL_DSR").text(Math.floor(data["CAL_DSR"]*10000)/100+"%");
            } else {
                data["CAL_DSR"] = (data["DSR_principal_and_interest"] + ($("#credit_loan").val()/5) + ($("#credit_loan").val() * $("#credit_loan_interest_rate").val()) * 0.01) / salary;
                $("#DB_DSR").text(Math.floor(data["DB_DSR"]*10000)/100+"%");
                $("#CAL_DSR").text(Math.floor(data["CAL_DSR"]*10000)/100+"%");
            }

            if( data["CAL_DSR"] <= data["DB_DSR"]){
                $("#DIS_DSR").text("Y");
            } else {
                $("#DIS_DSR").text("N");
            }

            //한도
            if( data["DB_LOAN_LIMIT"] == "" ){
                data["CAL_LOAN_LIMIT"] = 999999999999;
                $("#CAL_LOAN_LIMIT").text("-");
            } else if(data["DB_LOAN_LIMIT"] == "보증금 이내"){
                data["CAL_LOAN_LIMIT"] = $("#return_deposit").val() == "" ? 0 : $("#return_deposit").val();
                $("#CAL_LOAN_LIMIT").text(data["CAL_LOAN_LIMIT"]+"원");
            } else {
                data["CAL_LOAN_LIMIT"] = Math.min(parseInt(hope_loan), parseInt(data["DB_LOAN_LIMIT"]));
                $("#CAL_LOAN_LIMIT").text(data["CAL_LOAN_LIMIT"]+"원");
            }
            if(parseInt(data["CAL_LOAN_LIMIT"]) >= parseInt(hope_loan) ) {
                $("#DIS_LOAN_LIMIT").text("Y");
            } else {
                $("#DIS_LOAN_LIMIT").text("N");
            }

        });
    });
</script>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">유의사항</a>
                <a class="nav-link" href="#">1:1상담</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading" id="q_content"></h1>
        <BR><BR>
        <p class="lead">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">[희망대출] 금액* : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="hope_loan" value="0">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">[희망대출] 만기(년)* : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="expiration_year" value="33">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">[희망대출] 금리(%)* : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="home_loan_interest_rate" value="4">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">주택 가격* : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="home_price" value="0">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">연소득* : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="salary" value="0">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">[신용대출] 금액 : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="credit_loan" value="0">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-6 col-form-label">[신용대출] 금리(%) : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="credit_loan_interest_rate" value="4">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">반환보증금 : </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="return_deposit" value="0">
                </div>
            </div>
        <!--
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">1주택자 기존 주담대(분할상환) : one_home_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="one_home_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">다주택자 기존 주담대(분할상환) : multi_home_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="multi_home_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">기존 주담대(일시상환) : home_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="home_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">중도금/이주비대출 : payment_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="payment_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">전세자금대출 : home_lease_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="home_lease_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">예적금 담보대출 : deposit_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="deposit_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">보험계약대출 : insurance_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="insurance_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">비주택 담보대출 : not_home_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="not_home_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">유가증권 담보대출 : oil_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="oil_loan">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">기타대출 : etc_loan</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="etc_loan">
                </div>
            </div>
            -->

            <button type="button" class="btn btn-success btn-sm" onclick="alert('준비중인 기능입니다. \n조금만 기다려주시면 곧 서비스할 예정입니다.')">추가정보입력▼</button>
        </p>
        <!--        <p class="lead">도움말 : LTV는 무엇무엇입니다</p>-->
        <button type="button" class="btn btn-success btn-lg" id="calculate">계산하기</button>

        <BR>
        <BR>

        <div class="container">
            <div class="row">
                <div class="col">
                    규제
                </div>
                <div class="col">
                    LTV
                </div>
                <div class="col">
                    DTI
                </div>
                <div class="col">
                    DSR
                </div>
                <div class="col">
                    한도
                </div>
            </div>

            <div class="row">
                <div class="col">
                    한도
                </div>
                <div class="col" id="DB_LTV">
                    -
                </div>
                <div class="col" id="DB_DTI">
                    -
                </div>
                <div class="col" id="DB_DSR">
                    -
                </div>
                <div class="col" id="DB_CRITERIA">
                    -
                </div>
            </div>

            <div class="row">
                <div class="col">
                    산출값
                </div>
                <div class="col" id="CAL_LTV">
                    -
                </div>
                <div class="col" id="CAL_DTI">
                    -
                </div>
                <div class="col" id="CAL_DSR">
                    -
                </div>
                <div class="col" id="CAL_LOAN_LIMIT">
                    -
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                적용결과
            </div>
            <div class="col" id="DIS_LTV">
                -
            </div>
            <div class="col" id="DIS_DTI">
                -
            </div>
            <div class="col" id="DIS_DSR">
                -
            </div>
            <div class="col" id="DIS_LOAN_LIMIT">
                -
            </div>
        </div>

    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>COPYRIGHT 농협은행 사내벤처 2기</p>
        </div>
    </footer>
</div>
</body>
</html>
