<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/default_layout}">

<th:block layout:fragment="script">
    <script>
        $(document).ready(function (){
            var page = $.extend({}, Common);

            var param = {
                url : "/getWeather"
            }
            var result = page.ajax(param);
            $("#content").html(result);
        });

    </script>
</th:block>

<div layout:fragment="content" id="content">
    여기에 작업하면 됨
</div>
</html>