
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>주택 대출 가능 금액 알아보기</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
</head>

<body class="text-center">

<!-- Bootstrap core JavaScript
================================================== -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="common.js"></script>
<script>
    $( document ).ready(function() {

        $("#calculator_href").attr("href", "calculator?e_uid="+getParameterByName("e_uid"));

        var params = {
            e_uid      : getParameterByName("e_uid")
        }

        // ajax 통신
        $.ajax({
            type : "POST",
            url : "/house/getPreEquation",
            data : params,
            success : function(res){
                var data_list = "";

                if( res["LTV_MIN"] != "" && res["LTV_CRITERIA"] ){
                    data_list += "<a href='#none' class='btn btn-lg btn-secondary'>LTV : "+res["LTV_MAX"]+"/"+res["LTV_MIN"]+"%</a>";
                    data_list += "<BR><BR>";
                } else {
                    data_list += "<a href='#none' class='btn btn-lg btn-secondary'>LTV : "+res["LTV_MAX"]+"%</a>";
                    data_list += "<BR><BR>";
                }

                if( res["DTI"] != "" ){
                    data_list += "<a href='#none' class='btn btn-lg btn-secondary'>DTI : "+res["DTI"]+"%</a>";
                    data_list += "<BR><BR>";
                }
                if( res["DSR"] != "" ){
                    data_list += "<a href='#none' class='btn btn-lg btn-secondary'>DSR : "+res["DSR"]+"%</a>";
                    data_list += "<BR><BR>";
                }
                if( res["LOAN_LIMIT"] != "" ) {

                    if( res["LOAN_LIMIT"] == "보증금 이내"){
                        data_list += "<a href='#none' class='btn btn-lg btn-secondary'>한도 : " + res["LOAN_LIMIT"] + "</a>";
                        data_list += "<BR><BR>";
                    } else {
                        data_list += "<a href='#none' class='btn btn-lg btn-secondary'>한도 : " + res["LOAN_LIMIT"] + "원</a>";
                        data_list += "<BR><BR>";
                    }
                }
                $("#data_list").html(data_list);
            },
            error : function(XMLHttpRequest, textStatus, errorThrown){
                alert("통신 실패.")
            }
        });
    });
</script>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">유의사항</a>
                <a class="nav-link" href="#">1:1상담</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="cover-heading">적용 대출규제</h1>
        <BR>
        <BR>
        <p class="lead" id="data_list">
        </p>
        <!--
        <p class="lead">도움말 : LTV는 무엇무엇입니다</p>
        -->

        <BR>
        <BR>
        <BR>
        <BR>
        <a href="" class="btn btn-lg btn-secondary" id="calculator_href">계산하기</a>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>농협은행 사내벤처 2기</p>
        </div>
    </footer>
</div>
</body>
</html>
