<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.mapper.OnlineClipboardMapper">
    <select id="getRandomWord" resultType="HashMap">
        SELECT idx
             , category
             , word
             , c_id
             , c_date
             , u_id
             , u_date
             , del_yn
        FROM random_word
        WHERE category = #{category}
        ORDER BY rand() LIMIT 1;
    </select>
</mapper>

